 {% load static %}
 
 <!-- Start Footer Area  -->
 <footer class="rainbow-footer footer-style-default footer-style-3 position-relative">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="rainbow-footer-widget">
                        <div class="logo">
                            <a href='index.html'>
                                <img class="logo-light" src="{% static 'assets/images/images/codemeet.png' %}" alt="ChatBot Logo">
                            </a>
                        </div>
                        <p class="b1 desc-text">It has long been known that a reader's <br> attention will be diverted from </p>
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="rainbow-footer-widget">
                        <div class="widget-menu-bottom">
                            <h4 class="title">Social Media</h4>
                            <div class="inner">
                                <ul class="footer-link link-hover">
                                    <li><a href="#">Instagram</a></li>
                                    <li><a href='blog.html'>Youtube</a></li>
                                    <li><a href="contact%2chtml.html">Linkedin</a></li>
                                    <li><a href='www.suiet.in'>SUIET</a></li>
                                    <li><a href='webflow.suiet.in'>Webflow Communtiy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="rainbow-footer-widget">
                        <div class="widget-menu-top">
                            <h4 class="title">Contact</h4>
                            <div class="inner">
                                <ul class="footer-link contact-link">
                                    <li><i class="contact-icon fa-regular fa-location-dot"></i><a href="https://maps.app.goo.gl/oQokzG56ttGuVcs57"> Mukka, near NITK, Surathkal, Mangaluru, Karnataka 574146</a></li>
                                    <li><i class="contact-icon fa-sharp fa-regular fa-envelope"></i><a href="mailto:webflowcommunity@srinivasuniversity.edu.in">webflowcommunity@srinivasuniversity.edu.in</a></li>
                                    <li><i class="contact-icon fa-regular fa-phone"></i><a >+91 97781 65158</a></li>
                                    <li><i class="contact-icon fa-regular fa-phone"></i><a >+91 78298 43942</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area  -->
<!-- Start Copy Right Area  -->
<div class="copyright-area copyright-style-one">
    <div class="container">
        <div class="row align-items-center">
           
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="copyright-right text-center text-lg-end">
                    <p class="copyright-text">Copyright © 2024 <a href="webflow.suiet.in" class="btn-read-more"><span>Webflow Community.</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Copy Right Area  -->
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
