{% load static %} 
 
 <!-- Start Header Area  -->

        <header class="rainbow-header header-default header-transparent header-sticky" style="height:100px">
            <div class="container position-relative" style="margin-top:20px; ">
                <div class="row align-items-center row--0">
                    <div class="col-lg-2 col-md-6 col-6">
                        <div class="logo" style="    max-height: 56px;">
                            <a href='index.html' style="    max-height: 56px;">
                                <img class="logo-light" style="    max-height: 56px;" src="{% static 'assets\images\images\suiet-main-dark.png' %}" alt="ChatBot Logo">
                            </a>
                        </div>
                    </div>

                    

                    <div class="col-lg-8 d-none d-lg-block">
                        <nav class="mainmenu-nav d-none d-lg-flex justify-content-center">
                            <ul class="mainmenu">
                                <li><a href='/'>Home</a></li>
                                
                                <li><a href="#about">About</a></li>
                                <li><a href="#flow">Flow</a></li>
                                <li><a href='#themes'>Themes</a></li>
                                <li><a href='#prize'>Prize</a></li>
                                <li><a href='#faq'>FAQ's</a></li>
                                <li><a href='#contact'>Contact</a></li>
                            </ul>







                        </nav>

                        
                    </div>

                    <div class="col-lg-2 col-md-6 col-6 position-static">
                        <div class="header-right">

                            <!-- Start Header Btn  -->
                            <div class="header-btn">
                                <a class="rainbow-gradient-btn" href="https://rzp.io/l/hZWwPy7" target="_blank"><span>Register Now</span></a>
                            </div>
                            <!-- End Header Btn  -->

                            <!-- Start Mobile-Menu-Bar -->
                            <div class="mobile-menu-bar ml--5 d-flex justify-content-end d-lg-none">
                                <div class="hamberger">
                                    <button class="hamberger-button">
                                        <i class="fa-sharp fa-regular fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Start Mobile-Menu-Bar -->
                        </div>
                    </div>

                    
                </div>
            </div>
        </header>

        <div class="popup-mobile-menu ">
            <div class="inner-popup">
                
                <div class="header-top">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-light" src="{% static "assets\images\images\codemeet.png" %}" alt="ChatBot Logo">
                        </a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button">
                            <i class="fa-sharp fa-regular fa-x"></i>
                        </button>
                    </div>
                </div>

                <div class="content">
                    <ul class="mainmenu">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="https://www.suiet.in">Visit SUIET</a></li>
                        <li><a href="https://webflow.suiet.in">Visit Community</a></li>
                        
                    </ul>
                    
                </div>

                <!-- Start Header Btn  -->
                <div class="header-btn d-block d-md-none">
                    <a class="btn-default @@btnClass" href="https://rzp.io/l/hZWwPy7" target="_blank">Register Now</a>
                </div>
                <!-- End Header Btn  -->
            </div>
        </div>

