{% extends "base/base.html" %}
{% load static %}
{% block body %}





<div class="rainbow-collobration-area rainbow-section-gap-big">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                    <h4 class="subtitle ">
                        <span class="theme-gradient">Webflow Communtiy</span>
                    </h4>
                    <h2 class="title mb--20">Thankyou For Registering the event. See you on 19th October 2024</h2>
                    <a class="btn-default btn-large color-blacked" href="contact.html">Try It Now <i class="fa-sharp fa-light fa-arrow-right ml--5"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt--60">
                <div class="collabration-image-section">
                    <img src="{% static "assets/images/split/split-2.png" %}" alt="collabration-image">
                    <div class="logo-section">
                        <div class="center-logo">
                            <img class="shape-dark" src="{% static "assets/images/split/split-2-logo.png" %}" alt="Small Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}